<div class="container">
  <h1>Üdvözlünk az Empty smart programban</h1>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <a type="button" class="btn btn-primary" href="/adminbejelentkezes">Admin
        belépés</a>
    </div>
    <div class="col-md-4">
      <a type="button" class="btn btn-success" href="/bejelentkezes">Belépés</a>
    </div>
    <div class="col-md-4">
      <a type="button" class="btn btn-danger" href="/kilepes">Kilépés</a>
    </div>
  </div>
</div>