<header class="position-absolute d-none" style="z-index: 20;">
  <nav>
    <ul>
      <li><a href="login.html">Profilváltás</a></li>
      <li><a href="#">Beállítások</a></li>
    </ul>
  </nav>
</header>

<main>
  <style>
    .trash {
      transition: all 0.3s;
      align-items: center;
      border-radius: 50%;
      display: flex;
      font-size: 14px;
      gap: 15px;
      height: 30px;
      justify-content: center;
      padding: 4px;
      position: relative;
      position: relative;
      transition: all 0.3s ease-out;
      width: 30px;
    }

    .trash:hover {
      scale: 2;
    }
  </style>
  <div class="map-container" id="map">
  </div>
  <script src="/map.js"></script>
  <script>
    var kukak = {{{ json kukak }}};
    initMap(kukak);
  </script>
</main>