<header class="position-absolute" style="z-index: 20; top: 50px;">
  <nav>
    <a href="/" class="back-icon" style="background-color: #46464669; border-radius:10px; padding: 10px;">
      <img src="/back-icon.png" class="back-icong-img" alt="Back" />
      Vissza a főoldalra
    </a>
  </nav>
</header>

<div class="offcanvas offcanvas-end" tabindex="-1" id="details-kuka" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Kuka: <span id="details-kuka-id"></span></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Kuka telitettsége(<span id="details-kuka-progress-text"></span>):
    </div>
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0"
      aria-valuemax="100">
      <div class="progress-bar" style="width: 100%" id="details-kuka-progress"></div>
    </div>
    <div>
      Legutóbbi űrítés: <span id="details-kuka-urites"></span>
    </div>
    <button class="btn btn-warning" type="button" id="kuka-jelzes-btn" onclick="kukaJelzes()">
      Jelzés
    </button>
    <div>
      Jelzések száma: <span id="details-kuka-jelzesek"></span>
    </div>
  </div>
</div>

<main>
  <style>
    .trash {
      transition: all 0.3s;
      align-items: center;
      border-radius: 50%;
      display: flex;
      font-size: 14px;
      gap: 15px;
      height: 40px;
      justify-content: center;
      padding: 4px;
      position: relative;
      position: relative;
      transition: all 0.3s ease-out;
      width: 40px;
      box-shadow: inset 0 0 0.75rem 0.4rem #000000;
      filter: drop-shadow(0 0 0.75rem var(--shadow-color));
      padding: 10px;
    }

    .trash:hover {
      scale: 1.5;
      filter: drop-shadow(0 0 1rem var(--shadow-color));
    }

    .offcanvas {
      background: transparent;
      opacity: 1;
      background-color: rgba(128, 128, 128, 0.5);
      background: linear-gradient(to bottom, rgba(52, 52, 52, 0.5), rgba(0, 0, 0, 0.5));
      color: white;
      font-weight: bold;
    }

    .offcanvas-body button {
      width: 100%;
    }

    .btn-close {
      background-color: white;
      opacity: 1;
      -webkit-mask-image: var(--bs-btn-close-bg);
      mask-image: var(--bs-btn-close-bg);
      background-image: none;
      width: 0.4rem;
      height: 0.4rem;
    }
  </style>
  <div class="map-container" id="map">
  </div>
  <script src="/map.js"></script>
  <script>
    var kukak = {{{ json kukak }}};
    userMode = true;
    initMap(kukak);
  </script>
</main>